$background-footer:rgb(32, 83, 107);
$background-page:white;
$hover-footer:rgb(233, 66, 183);
$background-card:rgb(101, 143, 233);
$border-card:rgb(112, 48, 216);
$title-color:rgb(223, 229, 231);
$shadow1:rgb(59, 112, 226);
$shadow2:rgb(45, 88, 179);
$shadow3: rgb(79, 59, 190);
$shadow4-subtitle:rgb(112, 48, 216);
$shadow5:rgb(75, 61, 206);
$shadow6:rgb(167, 69, 212);
$shadow-subtitle1: rgb(140, 125, 128);
$shadow-subtitle2:rgb(242, 235, 238);
$shadow-subtitle3:rgb(236, 169, 182);
$shadow-subtitle4:rgb(127, 38, 66);
$shadow-subtitle5: rgb(113, 76, 84);
$shadow-subtitle6:rgb(173, 64, 93);
$shadow-subtitle7:rgb(218, 102, 123);
$color-fav:rgb(231, 25, 163);
$beginning-title:rgb(46, 43, 221);