.begining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100vh;

  @media all and (min-width:764px) {
    align-items: flex-start;
    padding: 2em;
  }

  &__title {
    color: $beginning-title;
    font-size: 1.5em;

    @media all and (min-width:764px) {
      font-size: 2.5em;
    }

    @media all and (min-width:1400px) {
      font-size: 3em;
    }

    @media all and (min-width:2000px) {
      font-size: 4em;
    }
  }

  &__subtitle {
    color: $color-fav;
    font-size: 1.2em;
    margin: 2rem 0 2rem 0;

    @media all and (min-width:764px) {
      font-size: 2em;
    }

    @media all and (min-width:1400px) {
      font-size: 2.5em;
    }

    @media all and (min-width:2000px) {
      font-size: 3em;
    }
  }

  &__text {
    color: $shadow6;
    font-size: 1em;

    @media all and (min-width:764px) {
      font-size: 1.8em;
    }

    @media all and (min-width:1400px) {
      font-size: 2em;
    }

    @media all and (min-width:2000px) {
      font-size: 2.5em;
    }
  }
}