.header {
    height: 20%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-footer;

    @media all and (min-width:764px) {
        justify-content: flex-end;
    }

    &__list {
        display: flex;
    }

    &__link {
        margin: 1.4rem;
        color: $background-page;
        font-size: 0.8em;
        text-shadow: 0 0 2em .25em rgb(18, 16, 16) inset 0 0 3em .25em rgb(39, 34, 34);

        @media all and (min-width:764px) {
            font-size: 1.2em;
        }

        @media all and (min-width:1400px) {
            font-size: 1.5em;
            padding:2em;
        }

        &:hover {
            transition: 0.2s ease-in-out;
            color: $hover-footer;
        }
    }
}