.SignUp {
    min-width: none;
    height: 60%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
        font-size: 1.2em;
        margin: 1.5em 0;
        color: $title-color;
        text-shadow: 0 0 2px $background-card, 0 0 5px $shadow1,
            0 0 4px $shadow2, 0 0 4px $shadow3,
            0 0 15px $shadow4-subtitle, 0 0 20px $shadow5,
            0 0 30px $shadow6;

        @media all and (min-width:768px) {
            font-size: 1.8em;
        }

        @media all and (min-width:1000px) {
            font-size: 2em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__label {
        color: $background-card;
        margin: 2em 0;


        @media all and (min-width:768px) {
            margin-bottom: 2rem;
            font-size: 1.2em;
        }

        @media all and (min-width:1000px) {
            font-size: 1.5em;

        }

        @media all and (min-width:1400px) {
            font-size: 1.8em;

        }
    }

    &__input {
        padding: 0.2rem;
        box-shadow: 0 0 2px $background-card, 0 0 5px $shadow1,
            0 0 4px $shadow2, 0 0 4px $shadow3,
            0 0 15px $shadow4-subtitle, 0 0 20px $shadow5,
            0 0 30px $shadow6;

        @media all and (min-width:400px) {
            width: 15rem;
        }

        @media all and (min-width:768px) {
            width: 20em;
            font-size: 1em;
        }

        @media all and (min-width:1000px) {
            font-size: 1.4em;
        }
    }
}