.button {
        cursor: pointer;
        margin-top: 4em;
        border-radius: 10px;
        border: solid 0.3rem $border-card;
        background-color: $background-page;
        color: $border-card;
        width: 5em;
        font-size: 1rem;
        padding: 0.2em;
        box-shadow: 0 0 2px $background-card, 0 0 5px $shadow1,
                0 0 4px $shadow2, 0 0 4px $shadow3,
                0 0 15px $shadow4-subtitle, 0 0 20px $shadow5,
                0 0 30px $shadow6;

        @media and and (min-width:700) {
                font-size: 1.8rem;
                width: 7rem;
        }

        @media all and (min-width:1000px) {
                font-size: 1.8rem;
                width: 8rem;
        }

        @media all and (min-width:1400px) {
                font-size: 2rem;
                width: 10rem;
                padding: 0.5rem;
        }

        @media all and (min-width:2000px) {
                font-size: 3rem;
                width: 20rem;

        }
        &:hover {
                background-color: $shadow-subtitle3;
        }

}