.button {
        cursor: pointer;
        margin-top: 2rem;
        ;
        border-radius: 10px;
        border: solid 0.3rem $border-card;
        background-color: $background-page;
        color: $border-card;
        width: 6rem;
        font-size: 1rem;
        padding: 0.5rem;
        box-shadow: 0 0 0.5px $shadow-subtitle1, 0 0 1px $shadow-subtitle2,
                0 0 2px $shadow-subtitle3, 0 0 4px $shadow-subtitle4,
                0 0 15px $shadow-subtitle5, 0 0 25px $shadow-subtitle6,
                0 0 50px $shadow-subtitle7;

        @media and and (min-width:700) {
                font-size: 1.8rem;
                width: 7rem;
        }

        @media all and (min-width:1000px) {
                font-size: 1.8rem;
                width: 8rem;
        }

        @media all and (min-width:1400px) {
                font-size: 2rem;
                width: 10rem;
                padding: 0.5rem;
        }

        @media all and (min-width:2000px) {
                font-size: 3rem;
                width: 20rem;

        }


        &:hover {
                background-color: $shadow-subtitle3;
        }

}